<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cluedo</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://fonts.googleapis.com/css?family=Caveat:400,700&display=swap&subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="./css/style.min.css">
    <!-- <link rel="stylesheet" href="http://fxaeberhard.github.io/handdrawn.css/handdrawn.css"> -->
</head>
<body>
    <div id="app">
        <h1>Cluedo</h1>

        <div class="tab">
            <h3>Kto?</h3>
            <hr>
            <table>
                <tr v-for='suspect in suspects'>
                    <th>{{ suspect }}</th><td><div class="square" @click='draw'></div></div></td>
                </tr>
            </table>
        </div>

        <div class="tab">
            <h3>Gdzie?</h3>
            <hr>
            <table>
                <tr v-for='room in rooms'>
                    <th>{{ room }}</th><td><div class="square" @click='draw'></div></td>
                </tr>
            </table>
        </div>

        <div class="tab">
            <h3>Czym?</h3>
            <hr>
            <table>
                <tr v-for='weapon in weapons'>
                    <th>{{ weapon }}</th><td><div class="square" @click='draw'></div></td>
                </tr>
            </table>
        </div>

        <div class="kit">
            <div class='kit__square' v-for='(value, name) in tools'><div :style='tools[name]' :data-tool='name' @click='activeTool'></div> </div>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="./js/main.js"></script>
</body>
</html>